h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", sans-serif;
}




body {
  background: #333;
  color: #fff
}

.resume{
  border:1px solid orange
}



.hero-container {

  padding: 200px 0 50px;
  color: #fff;

  .hero-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    @media(max-width:1000px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  img {
    width: 100%;
    border-radius: 20px;
    filter: brightness(0.6) contrast(2);
    /* Assombrit l'image */

  }

  .hero-detail {
    a {
      text-decoration: none;
      background-color: transparent;
      border: 3px solid #ffb428;
      padding: 10px 30px;
      color: #ffb428;
      margin-top: 15px;
      border-radius: 5px;

    }
  }

}


/*ABOUT SECTION*/

.about-container {
  background-color: #333;
  padding: 100px 0 50px;
  color: #fff;

  .about-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;

    @media(max-width:1000px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  .underline {
    height: 7px;
    width: 100px;
    background-color: #ffb428;
    position: relative;
    top: -10px;

  }

  .about-render {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media(max-width:1000px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 40px;
    }

    @media(max-width:700px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 40px;
    }

    .render {
      padding: 15px;
      text-align: center;
      border: 1px solid #4e4d4d;
      border-radius: 15px;
      transition: 0.3s;

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;

      }

    }
  }

}


/*PORFOLIO SECTION*/

.portfolio-container {
  padding: 100px 0 100px;
  color: #fff;

  .underline {
    height: 7px;
    width: 100px;
    background-color: #ffb428;
    position: relative;
    top: -10px;

  }

  .portfolio-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    @media(max-width:1000px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  img {
    width: 100%
  }

  .portfolio-detail {
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    transition: 0.5s;

    &:hover {
      transform: translateY(-10px);
    }

    .text {
      padding: 15px;
    }
  }
}



/*CONTACT SECTION*/
.contact {
  padding:50px 0 40px;
}

.contact-container{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:30ppx;
  margin-top:50px;

  a{
    text-decoration:none;
  }
  @media(max-width:1000px){
    display: grid;
    grid-template-columns:1fr;
    gap:20px;
  }
  .social-detail{
    .social-icon{
     cursor: pointer;
      &:hover{
        color: #fff;
      }
    }
  }

}

.contact-form {
  .contact-reference {
    background-color: #f8f8ff;
    height:100%;
    max-height:500px;
    .form-section {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      gap:10px;
      padding:15px;
      input,
      textarea {
        padding:10px;
        outline: none;
        border: 1px solid silver;
        width:100%;
      }

      #submit {
        cursor: pointer;
        background: #666363;
        color: #fff;
        font-weight: bolder;
        font-size: 18px;
        transition: all 0.5s;
        outline:none;
        border: none;
        width:100%;
        padding:15px;
        border-radius:5px;
        &:hover{
          background: #333;
        }
      }
    }
  }
}

